.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #26A69A;
}

.jumbotron h1 {
  font-size: 40px;
}

body {
  background-color: #B2DFDB;
  font-family: 'Quicksand', sans-serif !important;
}

a:focus, a:hover, a {
  color: black;
  text-decoration: none;
}

.media:hover {
  background-color: #4DB6AC;
  color: white;
}

.download-button {
  font-size: 5em;
}

.play-pause-button {
  font-size: 5em;
}

.play-pause-button:hover {
  color: white;
}

.volume-up-button, .volume-down-button {
  font-size: 5em;
}

.volume-up-button:hover, .volume-down-button:hover {
  color: white;
}

.download-button:hover {
  color: white;
}

.stop-button {
  font-size: 5em;
}

.stop-button:hover {
  color: white;
}

.media {
  padding-right: 20px;
  cursor: pointer;
}

.media-right {
  text-align: center;
  vertical-align: middle;
}

.player-container {
  text-align: center;
  margin: 0 auto;
}

.active-result-item {
  background-color: #4DB6AC;
  color: white;
}

.result-list i, .recent-list i {
  margin: 20px;
}

#clear-cookies{
  margin: 0 10px;
  vertical-align: bottom;
}

#clear-cookies:hover{
  color: red;
  cursor: pointer;
}

.blurr {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  pointer-events: none;
}

.loading-box {
  background-color: #4DB6AC;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  /* adjust as per your needs */
  height: 200px;
  /* adjust as per your needs */
  margin-left: -100px;
  /* negative half of width above */
  margin-top: -100px;
  /* negative half of height above */
  padding: 20px;
  display: block;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

.loader {
  margin: auto;
  border: 16px solid #B2DFDB;
  /* Light grey */
  border-top: 16px solid #26A69A;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loading-text {
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img{
  width: 120px;
  height: 90px;
  margin: 10px;
}

.recent-list > h3, .recent-list > h5{
  margin: 10px;
}

@media screen and (max-device-width: 480px){
  .media-body, .media-left, .media-right {
    text-align: center;
     display: block;
    vertical-align: top;
    width: 100%;
}

.media, .media-left, .media-right{
  padding: 0;
}

img{
  width: 100%;
  height: auto;
  margin: 0;
}

.result-description{
  display: none;
}

.player-container i{
  margin: 0 auto;
}
}
